*{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}
body{
    /* overflow: hidden; */
}

/* ---------------------------header section------------------------------ */
#header{
    overflow:hidden;
}

#header .header-content {
    background-size: cover;
    height: 100%;
    background-image: url("../imgs/bgn-home-beach3.jpg");
    background-position: center;
    background-size: cover;
    color: #fff;
}

#header .header-info h1 , h1 p span {
    font-size:4rem;
}

#header .header-info h1 p {
    position: relative;
    display: inline;
}
#header .header-info h1 p span {
    font-weight: 900;
    position: relative;
    z-index: 4;
}
#header .header-info h1 p:after {
    content: "";
    background-image: linear-gradient(to right, #f62a00, #652d90);
    width: 110%;
    display: block;
    position: absolute;
    bottom:0;
    right:-17px;
    height:100%;
}
#header .info-text {
    width: 60%;
}
/* ---------------------- CTA btn ----------------------------- */
.info-btn {
    font-size:1.5rem;   
    background-image: linear-gradient(to right, #f62a00 0%, #682694 51%, #f62a00  100%);
}
.info-btn a {
    color: #fff;
    font-size: 1.3rem;
    text-decoration: none;
}
.info-btn {
    background-size: 200% auto;
    text-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    box-shadow:0 0 9px #dbc7e8;
    border-radius: 10px;    
    transition: 0.55s;
   }
  
  .info-btn:hover {
    background-position: right center;
  }
 
/* --------------------------Header Form--------------------------------- */
.header-bottom {
    height: 25%;
    border-bottom: 5px solid;
    border-image: linear-gradient(to right, #f62a00 0%, #682694 51%, #f62a00  100%);
    border-image-slice:3;
    padding:25px;
    background-color: white;
    box-shadow: 0 0 15px 0px rgb(182, 177, 177);
    width: 80%;
    margin: 1% auto;
}
.header-bottom form label ,
.contact-us form label{
    letter-spacing:2.8px;
    font-size: 1rem;
    color: #682694;
    position: absolute;
    bottom: 11px;
    transition: transform .2s ease-in-out;
}
.header-bottom .form-group 
,.contact-us .form-group{
    position: relative;
    margin:32px 0;
}
.header-bottom .form-group input ,
.form-group textarea , 
.contact-us .form-group input{
    width: 100%;
    height: 36px;
    border-width: 0 0 2px 0;
    border-color: #652d90;
    font-size: 1.1rem;
    line-height: 26px;
    
}
/* .header-bottom .form-group input:focus + .label{
   transform: translateY(-24);
} */
.translate{
    transform:translateY(-18px)
 }

.header-bottom .form-group input:focus
,.contact-us .form-group input:focus {
    outline: none;
    box-shadow:none;
}

.form-group textarea{
    overflow: hidden;
}
.form-group textarea:focus{
    outline: none;
    box-shadow: none;
    border-color: #682694;
}
.btn-send {
    padding: 0 1rem;
    font-weight: 600;
    color:#682694;
    border-radius: 3px;
    background-image:
      linear-gradient(to bottom, #683694 , #f62a00),
      linear-gradient(to right, #683694 , #f62a00),
      linear-gradient(to bottom, #f62a00,#683694 ),
      linear-gradient(to right, #683694, #f62a00);
    background-size: 3px 100%, 100% 3px, 3px 100%, 100% 3px;
    background-position: 0 0, 0 0, 100% 0, 100% 100%;
    background-repeat: no-repeat;
    font-size: 1rem;  
    transition:0.5s all;  
}
.btn-send:hover {
    background-size: 100%;
    color: #fff;
    font-weight:400;
    background-blend-mode:color-burn;
}
/*----------------------------content section----------------------------------*/
.creative-content {
    overflow:hidden;
}
.creative-content h3 span{
    color: #4e4c57;
    font-size:3rem;
    letter-spacing:2;
    font-weight: bold;
    position: relative;
}

.creative-content .content-box .light-span {
    color: #807e88;
    font-size: 1.5rem;
    font-weight: 400;
}
.creative-content .content-box p {
    font-size:1.1rem;
    color:#757380;
}


/* -----------------------steps section----------------------------------- */
.steps{
    background-color: #edeff1;
    overflow:hidden;
}
.process-box{
    background: #fff;
    padding: 10px;
    border-radius: 15px;
    position: relative;
    color: #4e4c57;
    box-shadow: 3px 3px 24px 0 #5a0a12;
}
.process-left:after{
    content: "";
    border-top: 15px solid #ffffff;
    border-bottom: 15px solid #ffffff;
    border-left: 15px solid #ffffff;
    border-right: 15px solid #ffffff;
    display: inline-grid;
    position: absolute;
    right: -15px;
    top: 42%;
    transform: rotate(45deg);
    box-shadow: 3px -2px 3px 0px #00000036;
    z-index: 1;
}
.process-right:after{
        content: "";
    border-top: 15px solid #ffffff00;
    border-bottom: 15px solid #ffffff;
    border-left: 15px solid #ffffff;
    border-right: 15px solid #ffffff00;
    display: inline-grid;
    position: absolute;
    left: -15px;
    top: 42%;
    transform: rotate(45deg);
    box-shadow: -1px 1px 3px 0px #0000001a;
    z-index: 1;
}
.process-step{
    background: #b891d2;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    color: #000;
    height: 100%;
    padding-top: 8px;
    position: relative;
    top: -26px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 10px 18px 4px #682694;
}
.process-point-right{
    background: #ffffff;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 8px solid #b891d2;
    box-shadow: 0 0 0px 4px #5c5c5c;
    margin: auto 0;
    position: absolute;
    bottom:67px;
    left: -46px;
}
.process-point-right:before{
    content: "";
    height: 180px;
    width: 11px;
    background: #5c5c5c;
    display: inline-grid;
    transform: rotate(36deg);
    position: relative;
    left: -62px;
    top: -0px;
}
.process-point-left{
    background: #ffffff;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 8px solid #b891d2;
    box-shadow: 0 0 0px 4px #5c5c5c;
    margin: auto 0;
    position: absolute;
    bottom: 52px;
    right: -56px;
    z-index: 9999;
}
.process-point-left:before {
    content: "";
    height: 180px;
    width: 11px;
    background: #5c5c5c;
    display: inline-grid;
    transform: rotate(-38deg);
    position: relative;
    left: 60px;
    top: -2px;

}
.process-point-last{
    background: #ffffff;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 8px solid #b891d2;
    box-shadow: 0 0 0px 4px #5c5c5c;
    margin: auto 0;
    position: absolute;
    bottom:80px;
    left: -40px;
    z-index: 9999999;
}

.process-last:before{
    display: none;
}
.process-box p{
    z-index: 42354234542349;
}
.process-step p{
    font-weight: 600;
    font-size: 1.9rem;
    color: #7e2eb3 !important
}
.process-step h2{
    font-size:3rem;
    color: #4e4c57 !important;
}

.process-box h5{
    font-size: 1.3rem;
    color: #343a40;
    letter-spacing: 2px;
}
.process-box p small{
    width: 90%;
    font-size: 0.8rem;
    color: #040b13;


}
.process-step:after{
    content: "";
    border-top: 8px solid #b891d200;
    border-bottom: 8px solid #b891d2;
    border-left: 8px solid #b891d200;
    border-right: 8px solid #b891d2;
    display: inline-grid;
    position: absolute;
    left: -16px;
    top: 0;
}
.process-step:before{
    content: "";
    border-top: 8px solid #ff000000;
    border-bottom: 8px solid #b891d2;
    border-left: 8px solid #b891d2;
    border-right: 8px solid #ff000000;
    display: inline-grid;
    position: absolute;
    right: -16px;
    top: 0;
}
.process-line-l{
    background:#b891d2 ;
    height: 4px;
    position: absolute;
    width: 136px;
    right: -157px;
    top: 83px;
    z-index: 9;
}
.process-line-2 {
    background:#b891d2 ;
    height: 4px;
    position: absolute;
    width: 145px;
    right: -167px;
    top: 92px;
    z-index: 9;
}
.process-line-r{
    background: #b891d2;
    height: 4px;
    position: absolute;
    width: 145px;
    left: -166px;
    top: 73px;
    z-index: 9;
}

/* -----------------------services section----------------------------------- */
.services {
    background-color: #edeff1;
    overflow:hidden;
}
.services .title h3
,.contact-us .title h3 
,.steps .title h3
{
    position: relative;
    color: #807e88;
    font-size:3rem;
}
.services .title h3:after
,.contact-us .title h3:after 
,.steps .title h3:after
,.creative-content h3 span:after  {
    content: "";
    background-image: linear-gradient(to right, #f62a00, #652d90);
    width:95%;
    display: block;
    position:absolute;
    bottom:0;
    left: 0px;
    height:6px;
}
.services .title h3 span,
.contact-us .title h3 span,
.steps .title h3 span {
    position: relative;
    font-size: 3rem;
    font-weight: 600;   
     color: #4e4c57;
}
.services-p {
    width: 80%;
    margin: auto;
}
.we-accept p{
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 1.5px;
    color: #9b2c5b;
}
.services .card {
	transition: all 0.4s;
	width:100%;
	margin: 10px auto;
    border: 1px solid #892772;
    position: relative;
    height:auto;
} 
.services .card-body {
    padding: 0rem;
}
.services .card-title {
    margin: 0px;
}
.services .card-title h5 {
    margin: 0px;
    margin-top:1.5rem;
}
.services .card-line {
		width: 0;
		height: 5px;
		position: absolute;
		bottom: 0;
		background-image: linear-gradient(to right, #f62a00, #652d90);
		left: 0;
        transition: all 0.4s;
}
.services .card-img {
    position: relative;
}
.services .card-img-top {
    width: 100%;
    height: 10vw;
    object-fit: cover;
}
.services .layout {
    position: absolute;
    background: black;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s;
}
.services .card:hover {
    transform: translateY(-5%);
    box-shadow: 0 4px 10px 0 #626060;
}
.services .card:hover .card-line {
        width: 100%;
}
.services .card:hover .layout {
        opacity: 0.5;
        visibility: visible;
}

/* -------------------------------cta-section--------------------------------- */
.cta-sec {
    background-color:#040b13 ;
    overflow:hidden;
}
.cta-sec p {
    font-size: 2rem;
    letter-spacing: 5px;
    font-weight: 600;
    color: #fff;
    margin-top: 0.5rem;
}


/* --------------------------footer section------------------------------- */
footer {
    background-color: #040b13;
    color: #fff;
}
footer p{
    color: #bfbcca;
}
@media (max-width: 575.98px) {
    .services .title h3 span{
        font-size: 2.5rem;
    }
    .services {
        padding-top: 1rem !important;
    }
 }

@media (max-width: 767.98px) { 
.cta-sec p {
    font-size: 1.1rem;
    letter-spacing: 2px;
    margin-top: .8rem;
}
.step{
    margin-bottom: 3rem;   
}
.process-line-l , .process-line-2 , .process-line-r , .process-point-last , .process-point-left , .process-point-right {
    display: none;
}
.process-left:after {
    content:none;
}
.process-right:after {
    content:none;
}
.step-text{
    text-align: center;
}
.services .card-img-top {
    height:40vw;
}
@media (max-width: 991.98px) { 
#header .info-text {
    width: 80%;
}
.content-box {
    text-align: center;
    padding-bottom: 3rem;
}
.creative-content .content-box h2 .font-weight-bold:after {
    width: 19%;
    left: 373px;
}
.process-line-l {
    width: 57px;
    right: 0px;
    left: 293px;
    top: 113px;
}
.process-point-right {
   left: -59px;
   bottom: 110px;
}
.process-point-right:before {
    height: 212px;
    transform: rotate(0deg);
    left: -2px;
    top: 19px;
}
.process-line-r {
    width: 53px;
    right: 0px;
    left: -75px;
    top: 103px;
}
.process-line-2 {
    right: -91px !important;
    top:132px !important;
    width: 70px !important;
}
.process-point-left {
    bottom: 93px !important;
    right: -85px !important;
}
.process-point-left:before {
    height: 217px;
    transform: rotate(0deg);
    left: 0px;
    top: 19px;
}
.process-point-last {
    bottom: 133px !important;
    left: -58px !important;
}
}

@media (max-width: 1199.98px) {
    .process-line-2 {
        right: -167px;
        top:102px;
    }
    .process-point-left {
        bottom: 52px;
        right: -26px;
    }
    .process-point-last {
        bottom: 98px;
        left: -32px;
 }
}









/*-----------------sticky phone------------------------------------------------ */
.phonering-alo-phone{
    z-index: 9999999999999999;
    position:fixed;
    bottom:-16px;
    right: -15px;
}
.phonering-alo-phone.phonering-alo-static {
    opacity:.6
}
.phonering-alo-phone.phonering-alo-hover,.phonering-alo-phone:hover {
    opacity:1
}
.phonering-alo-ph-circle {
    width:160px;
    height:160px;
    bottom:20px;
    right:20px;
    position:absolute;
    background-color:transparent;
    border-radius:100% !important;
    border:2px solid rgba(30,30,30,0.4);
    border:2px solid #f51b07 9;
    opacity:.1;
    -webkit-animation:phonering-alo-circle-anim 1.2s infinite ease-in-out;
    animation:phonering-alo-circle-anim 1.2s infinite ease-in-out;
    transition:all .5s;
    -webkit-transform-origin:50% 50%;
    -ms-transform-origin:50% 50%;
    transform-origin:50% 50%
}

.phonering-alo-phone.phonering-alo-active .phonering-alo-ph-circle {
    -webkit-animation:phonering-alo-circle-anim 1.1s infinite ease-in-out!important;
    animation:phonering-alo-circle-anim 1.1s infinite ease-in-out!important
}

.phonering-alo-phone.phonering-alo-static .phonering-alo-ph-circle {
    -webkit-animation:phonering-alo-circle-anim 2.2s infinite ease-in-out!important;
    animation:phonering-alo-circle-anim 2.2s infinite ease-in-out!important
}

.phonering-alo-phone.phonering-alo-hover .phonering-alo-ph-circle,.phonering-alo-phone:hover .phonering-alo-ph-circle {
    border-color:#f3f618;
    opacity:.6
}

.phonering-alo-phone.phonering-alo-green.phonering-alo-hover .phonering-alo-ph-circle,.phonering-alo-phone.phonering-alo-green:hover .phonering-alo-ph-circle {
    border-color:#ecd50a ;
    border-color:#eff30e;
    opacity:.6
}

.phonering-alo-phone.phonering-alo-green .phonering-alo-ph-circle {
    border-color:#f21400 ;
    border-color:#e74c3d;
    opacity:.6
}

.phonering-alo-phone.phonering-alo-gray.phonering-alo-hover .phonering-alo-ph-circle,.phonering-alo-phone.phonering-alo-gray:hover .phonering-alo-ph-circle {
    border-color:#ccc;
    opacity:.6
}

.phonering-alo-phone.phonering-alo-gray .phonering-alo-ph-circle {
    border-color:#f1371f ;
    opacity:.6
}

.phonering-alo-ph-circle-fill {
    width:100px;
    height:100px;
    bottom:50px;
    right:50px;
    position:absolute;
    background-color: #000;
    border-radius:100% !important;
    border:2px solid transparent;
    -webkit-animation:phonering-alo-circle-fill-anim 2.3s infinite ease-in-out;
    animation:phonering-alo-circle-fill-anim 2.3s infinite ease-in-out;
    transition:all .5s;
    -webkit-transform-origin:50% 50%;
    -ms-transform-origin:50% 50%;
    transform-origin:50% 50%
}

.phonering-alo-phone.phonering-alo-active .phonering-alo-ph-circle-fill {
    -webkit-animation:phonering-alo-circle-fill-anim 1.7s infinite ease-in-out!important;
    animation:phonering-alo-circle-fill-anim 1.7s infinite ease-in-out!important
}

.phonering-alo-phone.phonering-alo-static .phonering-alo-ph-circle-fill {
    -webkit-animation:phonering-alo-circle-fill-anim 2.3s infinite ease-in-out!important;
    animation:phonering-alo-circle-fill-anim 2.3s infinite ease-in-out!important;
    opacity:0!important
}

.phonering-alo-phone.phonering-alo-hover .phonering-alo-ph-circle-fill,.phonering-alo-phone:hover .phonering-alo-ph-circle-fill {
    background-color:rgba(246, 224, 26, 0.918);
    background-color:#e2f200 9;
    opacity:.8!important
}

.phonering-alo-phone.phonering-alo-green.phonering-alo-hover .phonering-alo-ph-circle-fill,.phonering-alo-phone.phonering-alo-green:hover .phonering-alo-ph-circle-fill {
    background-color:rgba(227, 241, 31, 0.966);
    background-color:#eff16a 9;
    opacity:.8!important
}

.phonering-alo-phone.phonering-alo-green .phonering-alo-ph-circle-fill {
    background-color:rgba(242, 20, 0, 0.5);
    background-color:#f56254 9
}

.phonering-alo-phone.phonering-alo-gray.phonering-alo-hover .phonering-alo-ph-circle-fill,.phonering-alo-phone.phonering-alo-gray:hover .phonering-alo-ph-circle-fill {
    background-color:rgba(204,204,204,0.5);
    background-color:#ccc 9;
    opacity:.8!important
}

.phonering-alo-phone.phonering-alo-gray .phonering-alo-ph-circle-fill {
    background-color:rgba(235, 93, 80, 0.5);
    opacity:.8!important
}

.phonering-alo-ph-img-circle {
    width:60px;
    height:60px;
    bottom:70px;
    right:70px;
    position:absolute;
    background:rgba(30,30,30,0.1) url(../imgs/phone.png) no-repeat center center;
    border-radius:100% !important;
    border:2px solid transparent;
    -webkit-animation:phonering-alo-circle-img-anim 1s infinite ease-in-out;
    animation:phonering-alo-circle-img-anim 1s infinite ease-in-out;
    -webkit-transform-origin:50% 50%;
    -ms-transform-origin:50% 50%;
    transform-origin:50% 50%
}

.phonering-alo-phone.phonering-alo-active .phonering-alo-ph-img-circle {
    -webkit-animation:phonering-alo-circle-img-anim 1s infinite ease-in-out!important;
    animation:phonering-alo-circle-img-anim 1s infinite ease-in-out!important
}

.phonering-alo-phone.phonering-alo-static .phonering-alo-ph-img-circle {
    -webkit-animation:phonering-alo-circle-img-anim 0 infinite ease-in-out!important;
    animation:phonering-alo-circle-img-anim 0 infinite ease-in-out!important
}

.phonering-alo-phone.phonering-alo-hover .phonering-alo-ph-img-circle,.phonering-alo-phone:hover .phonering-alo-ph-img-circle {
    background-color:#f6f31b
}

.phonering-alo-phone.phonering-alo-green.phonering-alo-hover .phonering-alo-ph-img-circle,.phonering-alo-phone.phonering-alo-green:hover .phonering-alo-ph-img-circle {
    background-color:#eeeb26;
    background-color:#f1e31c 9
}

.phonering-alo-phone.phonering-alo-green .phonering-alo-ph-img-circle {
    background-color:#ff0707;
    background-color:#f22400 9
}

.phonering-alo-phone.phonering-alo-gray.phonering-alo-hover .phonering-alo-ph-img-circle,.phonering-alo-phone.phonering-alo-gray:hover .phonering-alo-ph-img-circle {
    background-color:#ccc
}

.phonering-alo-phone.phonering-alo-gray .phonering-alo-ph-img-circle {
    background-color:#ee130c
}

@-webkit-keyframes phonering-alo-circle-anim {
    0% {
        -webkit-transform:rotate(0) scale(.5) skew(1deg);
        -webkit-opacity:.1
    }

    30% {
        -webkit-transform:rotate(0) scale(.7) skew(1deg);
        -webkit-opacity:.5
    }

    100% {
        -webkit-transform:rotate(0) scale(1) skew(1deg);
        -webkit-opacity:.1
    }
}

@-webkit-keyframes phonering-alo-circle-fill-anim {
    0% {
        -webkit-transform:rotate(0) scale(.7) skew(1deg);
        opacity:.2
    }

    50% {
        -webkit-transform:rotate(0) scale(1) skew(1deg);
        opacity:.2
    }

    100% {
        -webkit-transform:rotate(0) scale(.7) skew(1deg);
        opacity:.2
    }
}

@-webkit-keyframes phonering-alo-circle-img-anim {
    0% {
        -webkit-transform:rotate(0) scale(1) skew(1deg)
    }

    10% {
        -webkit-transform:rotate(-25deg) scale(1) skew(1deg)
    }

    20% {
        -webkit-transform:rotate(25deg) scale(1) skew(1deg)
    }

    30% {
        -webkit-transform:rotate(-25deg) scale(1) skew(1deg)
    }

    40% {
        -webkit-transform:rotate(25deg) scale(1) skew(1deg)
    }

    50% {
        -webkit-transform:rotate(0) scale(1) skew(1deg)
    }

    100% {
        -webkit-transform:rotate(0) scale(1) skew(1deg)
    }
}

@-webkit-keyframes fadeInRight {
    0% {
        opacity:0;
        -webkit-transform:translate3d(100%,0,0);
        -ms-transform:translate3d(100%,0,0);
        transform:translate3d(100%,0,0)
    }

    100% {
        opacity:1;
        -webkit-transform:none;
        -ms-transform:none;
        transform:none
    }
}

@keyframes fadeInRight {
    0% {
        opacity:0;
        -webkit-transform:translate3d(100%,0,0);
        -ms-transform:translate3d(100%,0,0);
        transform:translate3d(100%,0,0)
    }

    100% {
        opacity:1;
        -webkit-transform:none;
        -ms-transform:none;
        transform:none
    }
}

@-webkit-keyframes fadeOutRight {
    0% {
        opacity:1
    }

    100% {
        opacity:0;
        -webkit-transform:translate3d(100%,0,0);
        -ms-transform:translate3d(100%,0,0);
        transform:translate3d(100%,0,0)
    }
}

@keyframes fadeOutRight {
    0% {
        opacity:1
    }

    100% {
        opacity:0;
        -webkit-transform:translate3d(100%,0,0);
        -ms-transform:translate3d(100%,0,0);
        transform:translate3d(100%,0,0)
    }
}

@-webkit-keyframes phonering-alo-circle-anim {
    0% {
        -webkit-transform:rotate(0) scale(.5) skew(1deg);
                transform:rotate(0) scale(.5) skew(1deg);
        opacity:.1
    }

    30% {
        -webkit-transform:rotate(0) scale(.7) skew(1deg);
                transform:rotate(0) scale(.7) skew(1deg);
        opacity:.5
    }

    100% {
        -webkit-transform:rotate(0) scale(1) skew(1deg);
                transform:rotate(0) scale(1) skew(1deg);
        opacity:.1
    }
}

@keyframes phonering-alo-circle-anim {
    0% {
        -webkit-transform:rotate(0) scale(.5) skew(1deg);
                transform:rotate(0) scale(.5) skew(1deg);
        opacity:.1
    }

    30% {
        -webkit-transform:rotate(0) scale(.7) skew(1deg);
                transform:rotate(0) scale(.7) skew(1deg);
        opacity:.5
    }

    100% {
        -webkit-transform:rotate(0) scale(1) skew(1deg);
                transform:rotate(0) scale(1) skew(1deg);
        opacity:.1
    }
}

@-webkit-keyframes phonering-alo-circle-fill-anim {
    0% {
        -webkit-transform:rotate(0) scale(.7) skew(1deg);
                transform:rotate(0) scale(.7) skew(1deg);
        opacity:.2
    }

    50% {
        -webkit-transform:rotate(0) scale(1) skew(1deg);
                transform:rotate(0) scale(1) skew(1deg);
        opacity:.2
    }

    100% {
        -webkit-transform:rotate(0) scale(.7) skew(1deg);
                transform:rotate(0) scale(.7) skew(1deg);
        opacity:.2
    }
}

@keyframes phonering-alo-circle-fill-anim {
    0% {
        -webkit-transform:rotate(0) scale(.7) skew(1deg);
                transform:rotate(0) scale(.7) skew(1deg);
        opacity:.2
    }

    50% {
        -webkit-transform:rotate(0) scale(1) skew(1deg);
                transform:rotate(0) scale(1) skew(1deg);
        opacity:.2
    }

    100% {
        -webkit-transform:rotate(0) scale(.7) skew(1deg);
                transform:rotate(0) scale(.7) skew(1deg);
        opacity:.2
    }
}

@-webkit-keyframes phonering-alo-circle-img-anim {
    0% {
        -webkit-transform:rotate(0) scale(1) skew(1deg);
                transform:rotate(0) scale(1) skew(1deg)
    }

    10% {
        -webkit-transform:rotate(-25deg) scale(1) skew(1deg);
                transform:rotate(-25deg) scale(1) skew(1deg)
    }

    20% {
        -webkit-transform:rotate(25deg) scale(1) skew(1deg);
                transform:rotate(25deg) scale(1) skew(1deg)
    }

    30% {
        -webkit-transform:rotate(-25deg) scale(1) skew(1deg);
                transform:rotate(-25deg) scale(1) skew(1deg)
    }

    40% {
        -webkit-transform:rotate(25deg) scale(1) skew(1deg);
                transform:rotate(25deg) scale(1) skew(1deg)
    }

    50% {
        -webkit-transform:rotate(0) scale(1) skew(1deg);
                transform:rotate(0) scale(1) skew(1deg)
    }

    100% {
        -webkit-transform:rotate(0) scale(1) skew(1deg);
                transform:rotate(0) scale(1) skew(1deg)
    }
}

@keyframes phonering-alo-circle-img-anim {
    0% {
        -webkit-transform:rotate(0) scale(1) skew(1deg);
                transform:rotate(0) scale(1) skew(1deg)
    }

    10% {
        -webkit-transform:rotate(-25deg) scale(1) skew(1deg);
                transform:rotate(-25deg) scale(1) skew(1deg)
    }

    20% {
        -webkit-transform:rotate(25deg) scale(1) skew(1deg);
                transform:rotate(25deg) scale(1) skew(1deg)
    }

    30% {
        -webkit-transform:rotate(-25deg) scale(1) skew(1deg);
                transform:rotate(-25deg) scale(1) skew(1deg)
    }

    40% {
        -webkit-transform:rotate(25deg) scale(1) skew(1deg);
                transform:rotate(25deg) scale(1) skew(1deg)
    }

    50% {
        -webkit-transform:rotate(0) scale(1) skew(1deg);
                transform:rotate(0) scale(1) skew(1deg)
    }

    100% {
        -webkit-transform:rotate(0) scale(1) skew(1deg);
                transform:rotate(0) scale(1) skew(1deg)
    }
}
/*end of sticky phone */